<h1>Hombres Locales</h1>
<p> Lista de Victimas</p>

<ul>
<dl>
	<% for man in @men %>
	<dt><%= man.name %></dt>
		<dd> Vida = <%= man.hit_points %>, Poder = <%= man.damage %></dd>
		<ul>
		<%= link_to "Entrenar", practice_man_path(man) %>
	</ul>
	<% end %>

	</dl>
</ul>
