
<div class="sidebar">

<h4>Sidebar</h4>
<p>


<ul>
<li> <%= current_user.dragons.count %> Dragones </li>
<li> <%= current_user.men.count %> Hombres </li>
<li> $<%= current_user.user_money %> Plata </li>
</ul>

</p>

</div>