<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href= "http://localhost:3000/" >Dragons and Men</a>
      <div class="nav-collapse">
        <ul class="nav">
          	<%= render 'layouts/dragonlinks' %>
        </ul>
        <ul class="nav pull-right">
             <%= render 'layouts/login' %>
        </ul>
           
      </div>
    </div>
  </div>
</div>
