<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href= "http://localhost:3000/" >Dragons and Men</a>
      <div class="nav-collapse">
        <ul class="nav">
          	<li><%= link_to "Guarida"  , new_dragon_path %></li>
						<li><%= link_to "Atacantes", dragons_path %></li>
						<li><%= link_to "Castillo" , new_man_path %></li>
						<li><%= link_to "Ejercito" , men_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
